DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
APP_BASE_URL="http://localhost:3000"
DRAFT_SESSION_SECRET="change-me"
ADMIN_PASSWORD="change-me"
ADMIN_SESSION_SECRET="change-me"
RESEND_API_KEY="re_xxxxx"
RESEND_SENDER_EMAIL="onboarding@resend.dev"
RESEND_SENDER_NAME="EYI 2026 Bildiri Platformu"
